/** @format */

* {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.album-icon {
  width: 200px;
}

/* nav bar */
.navBar {
  height: 60px;
  width: 100%;
  background-color: #181a1b;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.nav__logo {
  width: 193px;
  left: -20px;
  height: 100%;
}
.navBar__link {
  /* display: flex; */
  /* flex-direction: column; */
  padding: 20px;
  margin: 0;
  /* border: 1px solid lightcoral; */
  /* background-color: lightgray; */
  color: antiquewhite;
}

.navBar__link:hover {
  border-bottom: 6px solid rgb(201, 219, 237);

  background-color: #232628;
  padding-bottom: 15px;
}

/*  */
.mainPage {
  margin-top: 10px;
  margin-left: 20px;
}

/* forbidden access img */
.forbiddenImg {
  width: 100%;
  height: auto;
}

.checkoutButton {
  margin-right: 25%;
}

/* single albums in all view */
.singleAlbumList {
  background-color: rgb(201, 219, 237);
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  padding: 1%;
  /* width: 500px; */
  border-style: dotted;
  border-width: 20px;
  border: #181a1b;
}

/* all albums view */
.allAlbums {
  display: flex;
  flex-flow: row wrap;
}

/* pagination */
.pagination {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

/* button stuff */
.buttonSpacing {
  margin-right: 10px;
  margin-top: 10px;
}

/* loading stuff */
.loading {
  margin: 0;
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100%;

  z-index: 10000;
  height: 100%;
}

.removeFromCartButton {
  margin-left: 10%;
}
/* filters */
.filters-container {
  display: flex;
  margin-right: 1rem;
}
.filters-inner-container {
  margin-right: 1rem;
}
